@font-face {
    font-family:"Roboto-LightItalic" ;
    src: url(fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: "Roboto-Bold" ;
    src: url(fonts/Roboto-Bold.ttf);
}
*{
    font-family: Roboto-LightItalic,sans-serif ;
    margin:0%;
}
.firstsection{
    background-color: #1f2937;
    margin: 50px;
    height: 500px;
}
.hero-navbar{
    display: flex;
    margin-top: 0.5%;
    margin-right: 14%;
    margin-left: 14%;
    justify-content: space-between;
}
.header-logo-text{
    flex:2.5;
    color:#F9FAF8;
}
.description{
flex:1;
color:#F9FAF8;
}
.subtext{
    color: #E5E7EB;
    flex: 1;

}
.first-sec-image{
    flex:1;
    width: 400px
}
.header-link{
    flex: 0.5;
    color: #E5E7EB;
    font-size: 18px;
    border:#E5E7EB solid 5px;
    padding:10px;
}

.hero-main{
    display:flex;
    margin-top: 4%;
    margin-right: 14%;
    margin-left: 14%;
}
.hero-main-left{
    flex:1;
    margin-right: 6%;
}
.hero-main-text{
    font-size: 48px;
    color:blanchedalmond;
    margin-top: 0%;
    margin-bottom: 0%;
}
.Signup{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12%;
    padding: 8px 25px;
    border: none;
}
.placeholder-border{
    background-color: #F9FAF8;
    text-align: center;
    height: 22px;
    width: 30px;
}
.hero-image-placeholder{
    flex:1;
    width: 300px;
    color: #F9FAF8
}
.info-header-text{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}
h1{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-family: Roboto-Bold;
    
}
.container{
    display: flex;
    height:30vh;
    justify-content: center;
}
.box{
    width: 100px;
    margin: 20px;
}
.image{
    width: 100%;
    border-radius: 15px;
    border: 4px solid #3882F6;
    width: 100px;
}
.rounded-border4{
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 20px;
    width:170px;
    height:170px;
    margin:1%;
}
.quote-box {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    height: auto;
    margin: 100px;

}
.quote{
    height: auto;
    font-size: 36px;
    color: #1f2937;
    font-family: Roboto-LightItalic;
    text-align:start;
    margin: 100px;
}
.owner-name{
    font-size: 26px;
    color: #1f2937;
    margin-right: 200px;
    margin-top: 200px;
    text-align: left;
}
.action-sec{
    background-color: #3882F6;
    border-radius:11px;
    display: flex;
    justify-content: center;
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 7%;
    margin-bottom: 7%;
}
.action-text{
    color: #F9FAF8;
    margin: 5%;
    font-size: 19px;
}
.action-button{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 12%;
    padding: 8px 25px;
    border-color: #F9FAF8;
    border:2.5px solid;
    font-size: 18px;
    margin: 5%;
}
.footer{
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    justify-content: center;
}
.footer-text{
    margin-top: 2%;
    margin-bottom: 2%;
}